div#dash-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

div#dashboard {
  width: 90%;
  max-width: 930px;
  margin: 20px auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 20px;
}

div#dashboard .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  min-height: 30vh;
  padding: 5px;
  margin: 20px auto;
}

div#dashboard .user-info a {
  padding: 8px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #1455a0;
  color: #fff;
  text-decoration: none;
}

div#dashboard .user-logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

div#dashboard .user-logout button {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #696565;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}